@using _42Data.Investiments.Web.Models.Wallet;
@using Microsoft.AspNetCore.Identity

@model WalletViewModel

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Dashboard_5";

    var investimentsURL = Url.Action("MakeInvestiment", "Dashboard");
    var withdrawURL = Url.Action("MakeWithDraw", "Dashboard");
}

<div class="wrapper wrapper-content animated fadeIn">

    <div class="p-w-md m-t-sm">
        <div class="row">

            <div class="col-sm-4">
                <h1 class="m-b-xs">
                    @Model.SaldoTotal.ToString("C2")
                </h1>
                <small>
                    Saldo total da sua conta
                </small>
            </div>
            <div class="col-sm-4">
                <h1 class="m-b-xs">
                    @Model.LucroTotal.ToString("C2")
                </h1>
                <small>
                    (R$) Lucro total
                </small>
            </div>
            <div class="col-sm-4">

                <div class="row m-t-xs">
                    <div class="col-xs-6">
                        <h5 class="m-b-xs">(R$) Investimento Total</h5>
                        <h1 class="no-margins">@Model.InvestimentoTotal.ToString("C2")</h1>
                        <div class="font-bold text-navy"></div>
                    </div>
                    <div class="col-xs-6">
                        <h5 class="m-b-xs">(R$) Comissão total paga</h5>
                        <h1 class="no-margins">@Model.ComissaoTotalPaga.ToString("C2")</h1>
                        <div class="font-bold text-navy"></div>
                    </div>
                </div>

            </div>

        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="small pull-left col-md-3 m-l-lg m-t-md">
                    <strong>(R$)</strong> Gráfico de variação de investimento
                </div>
                <div class="small pull-right col-md-3 m-t-md text-right" hidden>
                    <strong>There are many</strong> variations of passages of Lorem Ipsum available, but the majority have suffered.
                </div>
                <br />
                <br />
                <div class="flot-chart m-b-xl">
                    <div id="chart_div"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Fazer um novo investimento</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>

                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="form-group">
                            <label class="control-label" for="price">(R$) Valor do deposito</label>
                            <input type="text" id="price" data-money="true" name="price" value="" placeholder="0,00" class="form-control" maxlength="12" data-thousands="." data-decimal="," data-prefix="R$ " onkeypress="validate(event)">
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="PlanoContratado">Plano</label>
                            <select id="PlanoContratado" class="form-control m-b">
                                <option value="0">Selecione o plano</option>
                                <option value="Bold">Plano Bold</option>
                                <option value="Wise">Plano Wise</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="status">&nbsp;</label>
                            <button type="button" id="makeDeposit" class="btn btn-success btn-large pull-right">DEPOSITAR</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <h5>Fazer um novo saque</h5>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                        </div>
                    </div>
                    <div class="ibox-content">
                        <div class="form-group">
                            <label class="control-label" for="price">(R$) Valor do saque</label>
                            <input type="text" id="price-draw" data-money="true" name="price" value="" placeholder="0,00" class="form-control" maxlength="12" data-thousands="." data-decimal="," data-prefix="R$ " onkeypress="validate(event)">
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="PlanoContratado">Plano</label>
                            <select id="PlanoSaque" class="form-control m-b">
                                <option value="0">Qual o plano quer sacar?</option>
                                <option value="Bold">Plano Bold</option>
                                <option value="Wise">Plano Wise</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="control-label" for="status">&nbsp;</label>
                            <button type="button" id="makeDraw" class="btn btn-warning btn-large pull-right">SAQUE</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12">
                <div class="ibox">
                    <div class="ibox-content">
                        @if (SignInManager.IsSignedIn(User))
                        {
                            var username = await UserManager.GetUserAsync(User);
                            Html.Hidden("username", username.Name);
                            Html.Hidden("user_id", username.Id);
                        }

                        <div class="row" id="deposits_form" data-formpost="@Url.Action("MakeInvestiment","Dashboard")">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label class="control-label" for="product_name">Tabela Mensal</label>
                                </div>
                            </div>

                        </div>

                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <td>Mês</td>
                                        <td>(R$) Inicial</td>
                                        <td>(R$) Entrada (Bold)</td>
                                        <td>(R$) Saída (Bold)</td>
                                        <td>(R$) Rentabilidade (Bold)</td>
                                        <td>(R$) Entrada (Wise)</td>
                                        <td>(R$) Saída (Wise)</td>
                                        <td>(R$) Rentabilidade (Wise)</td>
                                        <td>(R$) Valor Final</td>
                                    </tr>
                                </thead>
                                <tbody>
                                    @if (Model != null)
                                    {
                                        if (Model.WalletClienteList != null)
                                        {
                                            foreach (var item in Model.WalletClienteList)
                                            {
                                    <tr>
                                        <td class="hidden">@item.Id</td>
                                        <td>@item.Mes.ToString("MMM").ToUpper()</td>
                                        <td>@item.ValorInicial.ToString("C2")</td>
                                        <td>@item.ValorEntradaBold.ToString("C2")</td>
                                        <td>@item.ValorSaqueBold.ToString("C2")</td>
                                        <td>@item.ValorRentabilidadeBold.ToString("C2")</td>
                                        <td>@item.ValorEntradaWise.ToString("C2")</td>
                                        <td>@item.ValorSaqueWise.ToString("C2")</td>
                                        <td>@item.ValorRentabilidadeWise.ToString("C2")</td>
                                        <td>@item.ValorFinal.ToString("C2")</td>
                                    </tr>
                                            }
                                        }
                                    }
                                    else
                                    {
                                        <tr>
                                            <td colspan="6">Ainda não há investimentos. :(</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </div>

    @Html.Hidden("urlgrafico", Url.Action("GraphData", "Dashboard"))

</div>

<!-- modal alerta -->
<div class="modal inmodal" id="modal-alerta" tabindex="-1" role="dialog" aria-hidden="true" style="display: none; padding-right: 17px;">
    <div class="modal-dialog">
        <div class="modal-content animated fadeIn">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span class="sr-only">Close</span></button>
                <i class="fa fa-clock-o modal-icon"></i>
                <h4 class="modal-title">Hummm.. :)</h4>
                <small style="font-size:22px;" id="text-message-modal"> </small>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-white" data-dismiss="modal">Ok.</button>
                @*<button type="button" class="btn btn-primary">OK, entendi.</button>*@
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <environment names="Development,Staging,Production">
        <script src="~/lib/flot/jquery.flot.js"></script>
        <script src="~/lib/flot/jquery.flot.tooltip.min.js"></script>
        <script src="~/lib/flot/jquery.flot.resize.js"></script>
        <script src="~/lib/flot/jquery.flot.pie.js"></script>
        <script src="~/lib/flot/jquery.flot.time.js"></script>
        <script src="~/lib/flot/jquery.flot.spline.js"></script>
        <script src="~/lib/sparkline/jquery.sparkline.min.js"></script>

    </environment>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

        function validate(evt) {
            var theEvent = evt || window.event;
            var key = theEvent.keyCode || theEvent.which;
            key = String.fromCharCode(key);
            var regex = /[0-9]|\./;
            if (!regex.test(key)) {
                theEvent.returnValue = false;
                if (theEvent.preventDefault) theEvent.preventDefault();
            }
        }

        $("#price").maskMoney();
        $("#price-draw").maskMoney();

        function CheckNumeric() {
            return event.keyCode >= 48 && event.keyCode <= 57;
        }

        $(document).ready(function () {

            var graph_url = $("#urlgrafico").val();

            $.getJSON(graph_url, {}, function (response) {

                console.log(response);

                google.charts.load('current', { packages: ['corechart', 'line'] });
                google.charts.setOnLoadCallback(function () {

                    var data = new google.visualization.DataTable();
                    data.addColumn('string', 'Mês');
                    data.addColumn('number', 'Valor');

                    //data.addRows([
                    //    ['Jan', 0], ['Fev', 20], ['Mar', 30], ['Abr', 40], ['Jun', 67]
                    //]);

                    $.each(response, function (index, item) {
                        data.addRow([item.mes, item.valor]);
                    });


                    var options = {
                        hAxis: {
                            title: 'Mês'
                        },
                        vAxis: {
                            title: 'Rendimento'
                        }
                    };

                    var chart = new google.visualization.LineChart(document.getElementById("chart_div"));

                    chart.draw(data, options);
                });
            });

            $("#makeDeposit").click(function () {

                if ($("#price").val() == "") {
                    showAlertModal("Por favor, para fazer um deposito informe o valor que deseja depositar.");
                    return;
                }
                else if ($("select#PlanoContratado").val() == "0") {
                    showAlertModal("Por favor, selecione um plano para fazer o seu investimento.");
                }
                else {
                    PostDeposits();
                }

            });

            $("#makeDraw").click(function () {
                if ($("#price-draw").val() == "") {
                    showAlertModal("Por favor, para fazer um saque informe o valor que deseja retirar.");
                    return;
                }
                else if ($("select#PlanoSaque").val() == "0") {
                    showAlertModal("Por favor, selecione um plano para fazer o seu investimento.");
                }
                else {
                    var _obj = {
                        Id: $("#user_id").val(),
                        ValorDeposito: $("#price").val(),
                        PlanoContratado: $("select#PlanoContratado").val()
                    }

                    var _url = @withdrawURL;

                    $.post(_url, _obj, function (response) {
                        alert(response.mensagem);
                    }, "json");
                }
            });

            function PostDeposits() {

                var _obj = {
                    Id: $("#user_id").val(),
                    ValorDeposito: $("#price").val(),
                    PlanoContratado: $("select#PlanoContratado").val()
                }

                var _url = @investimentsURL;

                $.post(_url, _obj, function (response) {
                    alert(response.mensagem);
                }, "json");
            }

            function showAlertModal(message) {
                $("#text-message-modal").text(message);
                $("#modal-alerta").modal("show");
            }
        });


    </script>
}

